.container {
  background: white;
  height: 8vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 100%;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imagenLogo {
  width: 5vh;
  height: 5vh;
}
.opciones {
  height: 100%;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul li {
  list-style: none;
}
.opciones a {
  color: #333;
  text-decoration: none;
  padding-right: 4vh;
  text-transform: uppercase;
}
